<div class="row">
	<a ui-sref="headers" class="btn btn-default">
		<i class="fa fa-cog"></i>
		Set Headers
	</a>	
</div>

<div class="row">
	<div class="col-xs-12" ng-loading="loaded">
		<table class="table table-finances">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th ng-repeat="header1 in headersLine1" colspan="{{header1.weight}}">{{header1.label}}</th>
			</tr>
			<tr>
				<th></th>
				<th></th>
				<th ng-repeat="header2 in headersLine2 track by $index">{{header2}}</th>
			</tr>
		</thead>
		<tbody ng-repeat="(year, year_data) in data">
			<tr>
				<td class="td-chevron">
					<i class="fa fa-chevron-right"></i>
				</td>
				<td colspan="{{headersLine2.length + 1}}">{{ year }}</td>
			</tr>
			<tr ng-repeat="(month, amounts) in year_data">
				<td class="vertical-td" ng-if="$index === 0" rowspan="{{ _.keys(year_data).length }}">
					<div>{{ year }}</div>
				</td>
				<td>{{ month }}</td>
				<td ng-repeat="amount in inputLine">
					<fire-amount type="amount.type" id="amount.id" institution="data[year][month][amount.id]" read-only="amount.type==='T'"></fire-amount>
				</td>
			</tr>
		<tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-default pull-right" ng-click="saveChanges()">Save</button>
		<button class="btn btn-default pull-right" ng-click="data={}">Flush</button>
	</div>
</div>
