<nav class="navbar" ng-controller="mainMenuCtrl">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="splash">Root</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href ui-sref="login" ng-show="!authSvc.isAuthenticated()">login</a></li>
				<li><a href ui-sref="user-dashboard" ng-show="authSvc.isAuthenticated()">Dashboard</a></li>
				<li class="dropdown" ng-show="authSvc.isAuthenticated()" uib-dropdown>
					<a href role="button" class="dropdown-toggle" uib-dropdown-toggle>
						App <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href ui-sref="headers">Headers</a></li>
						<li><a href ui-sref="savings">Savings</a></li>
						<li><a href ui-sref="revenues">Revenues</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right" ng-show="authSvc.isAuthenticated()">
				<li class="dropdown" uib-dropdown>
					<a href role="button" class="dropdown-toggle" uib-dropdown-toggle>
						{{ authSvc.userDisplay() }} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href ng-click="logoutUser()" ng-show="authSvc.isAuthenticated()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>